/*-----------------------------------*/
/* Sidebar widgets */
/*-----------------------------------*/

.widget-container{margin-bottom: 30px;}
.widget-container .widget-title{
    padding: 15px 40px;
	font-size: 21px;
    font-style: italic;
    color: #fff;
	margin-bottom:0;
    background: #3bbec0;
}

@media (min-width: 768px) and (max-width: 991px){
    .widget-container .widget-title{padding: 15px 20px;}
}

/* Widget Categories */

.widget-categories .inner{padding:0;}
.widget-categories .widget-title{display: none;}
.widget-categories li{position: relative;}

.widget-categories li a{
    display: block;
    padding: 15px 44px 15px 62px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
	position: relative;
    border-top: 1px solid #58c8c9;
}
.widget-categories li:first-child a{border-top: 0 none;}

.widget-categories .ico-cat{
    position: absolute;
    top:15px;
    left:25px;
    width:20px;
	height:20px;
	background-image:url(images/icons/categories_icons.png);
}
.widget-categories .ico-cat.ico-cat1{background-position: 0 0;}
.widget-categories .ico-cat.ico-cat2{background-position: 0 -20px;}
.widget-categories .ico-cat.ico-cat3{background-position: 0 -40px;}
.widget-categories .ico-cat.ico-cat4{background-position: 0 -60px;}
.widget-categories .ico-cat.ico-cat5{background-position: 0 -80px;}
.widget-categories .ico-cat.ico-cat6{background-position: 0 -100px;}

.widget-categories .counter {
    display: none;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 21px;
    z-index: 2;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    color: #2c8a8f;
    background: #fff;
    border-radius: 50%;
}
.widget-categories li:hover .counter,
.widget-categories li.current-menu-item .counter{
    display: block;
}

/* Widget Categories style 2 */

.widget-categories.style2{background: #fff;}
.widget-categories.style2 .widget-title{display: block;}

.widget-categories.style2 li a{
    padding: 15px 60px 15px 75px;
    color: #666;
    border-top: 1px solid #e5e5e5;
}
.widget-categories.style2 .ico-cat{left:40px;}
.widget-categories.style2 .ico-cat.ico-cat1{background-position: -20px 0;}
.widget-categories.style2 .ico-cat.ico-cat2{background-position: -20px -20px;}
.widget-categories.style2 .ico-cat.ico-cat3{background-position: -20px -40px;}
.widget-categories.style2 .ico-cat.ico-cat4{background-position: -20px -60px;}
.widget-categories.style2 .ico-cat.ico-cat5{background-position: -20px -80px;}
.widget-categories.style2 .ico-cat.ico-cat6{background-position: -20px -100px;}

.widget-categories.style2 .counter {
    right: 40px;
    color: #fff;
    background: #8e8e8e;
}

@media (min-width: 768px) and (max-width: 991px){
    .widget-categories.style2 li a{padding: 15px 40px 15px 55px;}
    .widget-categories.style2 .ico-cat{left:20px;}
    .widget-categories.style2 .counter {right: 20px;}
}

/* Widget Accordion */

.widget-accordion .panel {
    margin-bottom: 0;
    background-color: #FFF;
    border: 0 none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widget-accordion .accordion-toggle{
    display: block;
    position: relative;
    padding: 17px 44px;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #e7e7e7;
}
.widget-accordion .accordion-toggle.collapsed{
    background-color: #67b0d1;
    color: #fff;
    border-bottom: 1px solid #61aaca;
}
.widget-accordion .accordion-toggle:before,
.widget-accordion .accordion-toggle:after{
    content: '';
    display: block;
    position: absolute;
    top:24px;
    left:19px;
    width: 8px;
    height: 2px;
    background: #999;
}
.widget-accordion .accordion-toggle:after{
    top:21px;
    left:22px;
    width: 2px;
    height: 8px;
    display: none;
}
.widget-accordion .accordion-toggle.collapsed:before,
.widget-accordion .accordion-toggle.collapsed:after{
    display: block;
    background: #fff;
}

.widget-accordion li a{
    padding: 14px 44px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #666;
    border-top: 1px solid #e7e7e7;
}
.widget-accordion .counter {
    display: block;
    width: 19px;
    height: 19px;
    top: 16px;
    right: 21px;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    color: #999;
    background: #f7f7f7;
    border: 1px solid #cfcfcf;
}
.widget-accordion .accordion-toggle .counter {
    color: #fff;
    background: #a6a6a6;
    border: 1px solid #a6a6a6;
}
.widget-accordion .accordion-toggle.collapsed .counter {
    background: #2da5da;
    border: 1px solid #2a94c2;
}

/* Widget Latest Stories, Latest Comments */

.widget_recent_entries .inner,
.widget_recent_comments .inner{
    padding: 16px 32px;
}

@media (min-width: 768px) and (max-width: 991px){
    .widget_recent_entries .inner,
    .widget_recent_comments .inner{
        padding: 16px 20px;
    }
}

.widget_recent_comments li,
.widget_recent_entries li {
	padding: 15px 0;
    border-top: 1px solid #e5e5e5;
}
.widget_recent_comments li:first-child,
.widget_recent_entries li:first-child{
    border-top: 0 none;
}
.widget-container .widget-thumb{
	float: left;
	margin-right:16px;
    border: 4px solid #ecf0f2;
    border-radius: 50%;
}
.widget-container .widget-thumb img{
	display: block;
    width:54px;
    height: 54px;
    border-radius: 50%;
}
.widget-container .post-title{display: block;}

.widget-container .post-title,
.widget-container .recent_comment,
.widget-container .recent_comment a{
    font-size: 13px;
    font-weight: 400;
	line-height: 19px;
}
.widget-container .recent_comment a{color: #3bbec0;}

.widget-container a.post-title:hover,
.widget-container .recent_comment a:hover{
    color:#3bbec0;
}

/* Widget Follow */

.widget-follow .inner {padding:0;}
.widget-follow .widget-title{display: none;}

.follow-item{
    float: left;
    width: 25%;
    padding-right: 3px;
}
.follow-item:nth-child(4n){padding-right: 0;}

.follow-counter,
.follow-link{
    background: #3bbec0;
    margin-bottom: 3px;
}
.follow-item.blue .follow-counter, .follow-item.blue .follow-link{background: #67b0d1;}
.follow-item.green .follow-counter, .follow-item.green .follow-link{background: #60cd9b;}
.follow-item.red .follow-counter, .follow-item.red .follow-link{background: #e87352;}
.follow-item.yellow .follow-counter, .follow-item.yellow .follow-link{background: #ebc85e;}
.follow-item.turquoise .follow-counter, .follow-item.turquoise .follow-link{background: #1d5f60;}
.follow-item.black .follow-counter, .follow-item.black .follow-link{background: #333;}
.follow-item.brown .follow-counter, .follow-item.brown .follow-link{background: #a48b60;}

.follow-counter{padding: 16px 2px;}

.follow-counter strong,
.follow-counter em{
    display: block;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    text-align: center;
}
.follow-counter strong{
    font-size: 24px;
    margin-bottom: 6px;
}

.follow-link a{
    display: block;
    padding: 10px 2px;
    text-align: center;
}
.follow-link a span{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    text-indent: -1000px;
}
.follow-link .icon-social{
    width: 36px;
    height: 36px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0;
    background: url(images/icons/social-icons.png) 0 0 no-repeat;
}
.follow-link .icon-social.icon-facebook{background-position: 0 -30px;}
.follow-link .icon-social.icon-mail{background-position: 0 -60px;}
.follow-link .icon-social.icon-dribble{background-position: 0 -90px;}

@media (min-width: 768px) and (max-width: 991px){
    .follow-counter strong{font-size: 20px;}
    .follow-counter em{font-size: 10px;}
}

/* Widget Tags */

.widget_tag_cloud .inner {padding:0;}
.widget_tag_cloud .widget-title{display: none;}

.tagcloud a{
	display:inline-block;
	font-size:14px;
    font-style: italic;
	white-space:nowrap;
	color:#fff;
	margin:0 1px 4px 0;
}
.tagcloud a:hover{color:#ddd;}

.tagcloud a span{
	display:block;
	padding:0 18px;
    height: 38px;
    line-height: 38px;
    background: #3bbec0;
}

/* Widget Flickr */

.flickr .inner {padding: 33px 10px;}
.flickr-inner{text-align: center; font-size: 0;}
.flickr_badge_image{display: inline-block; margin:3px;}
.flickr_badge_image a{display: block;}
.flickr_badge_image a img{
	display: block;
	width: 66px;
	height: 66px !important;
}
.ie8 .flickr .flickr_badge_image {
	width:66px !important;
	height:66px !important;
}

/* Widget Text */

.widget_text .inner{padding: 30px 43px 20px;}

@media (min-width: 768px) and (max-width: 991px){
    .widget_text .inner{padding: 20px;}
}

/* Widget Calendar */

.widget_calendar .inner{padding:0 10px 10px;}
.ie8 #date_departure {display: none !important;}

.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden;}
#ui-datepicker-div{width: 213px; background: #e87352;}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #eee;
    color: #88361f;
}
.ui-state-hover a, .ui-state-hover a:hover { color: #5a5c5c; text-decoration: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color: #5a5c5c; text-decoration: none;}
.ui-widget:active {outline: none;}

.ui-datepicker {
    padding:0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position:relative;
    padding:0;
    border-bottom: 1px solid #ea8164;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.widget_calendar .ui-datepicker .ui-datepicker-header {margin:0 -10px;}

.ui-datepicker-prev,
.ui-datepicker-next{
    position:absolute;
    top: 6px;
    left:6px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(images/pagination.png) !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    background-position: 5px 5px !important;
}
.ui-datepicker-next{
    left: auto;
    right: 6px;
    background-position: -45px 5px !important;
}
.widget_calendar .ui-datepicker-prev,
.widget_calendar .ui-datepicker-next{
    top: 25px;
    left:19px;
}
.widget_calendar .ui-datepicker-next{
    left: auto;
    right: 19px;
}

.ui-datepicker .ui-datepicker-title {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.widget_calendar .ui-datepicker .ui-datepicker-title{
    height: 74px;
    line-height: 74px;
}
.ui-datepicker table {width: 100%; border-collapse: collapse;}
.ui-datepicker th {padding: .7em .3em; text-align: center;}
.ui-datepicker td {padding: 0;}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 2px auto;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
td.ui-datepicker-today  a{
    background: #fff !important;
    color: #88361f;
}
td.ui-state-highlight a,
td.ui-datepicker-today.ui-state-highlight  a{
    background: #fff !important;
    font-weight: 700;
    color: #88361f;
}
td.ui-datepicker-other-month span{color: #88361f;}

.ui-datepicker-calendar thead th {
    padding:4px 0 2px;
    font-size: 10px;
    color:#fff;
    text-transform:uppercase;
}
.widget_calendar .ui-datepicker-calendar thead th {
    padding: 30px 0 10px;
    font-size: 12px;
    font-weight: 700;
}
.ui-datepicker-calendar tbody td,
.ui-datepicker-calendar tbody td.ui-state-disabled{
    padding:0;
    text-align:center;
}

/*-----------------------------------*/
/* Toggles */
/*-----------------------------------*/

.toggle{margin-bottom: 30px;}
.toggle-header{position: relative;}

.toggle-header h5,
.toggle-header .question{
    display: inline-block;
    font-size:19px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0;
}
.toggle-header .question,
.toggle.title-red .toggle-header h5{
    color:#e87352;
}
.toggle-link{
    display: block;
    padding: 23px 50px 23px 34px;
}
.toggle-link:before,
.toggle-link:after{
    content: '';
    display: block;
    position: absolute;
    top:33px;
    right:30px;
    width: 16px;
    height: 2px;
    background: #e87352;
}
.toggle-link:after{
    top:26px;
    right:37px;
    width: 2px;
    height: 16px;
    display: none;
}
.toggle-link.collapsed:before,
.toggle-link.collapsed:after{
    display: block;
}

.toggle-body .inner{padding: 0 37px 18px;}

/*-----------------------------------*/
/* Pull Quotes */
/*-----------------------------------*/

.typography p{margin-bottom:30px;}
.typography .inner{padding: 45px 48px 35px;}
.typography h4, .typography h5, .typography h6{color: #e87352;}

.block_quotes .inner{padding: 45px 48px 33px;}
.block_quotes h2{font-size: 29px; margin-bottom: 24px;}
.block_quotes p{margin-bottom: 22px;}

.quote_right, .quote_left {
    font-size: 19px;
    line-height: 23px;
    color:#e87352;
    width: 38%;
    margin-top: 8px;
    margin-bottom:15px;
}
.quote_left{float: left; margin-right:36px;}
.quote_right{float: right; margin-left:36px;}

@media (max-width:479px){
    .typography .inner,
    .block_quotes .inner{
        padding: 10px;
    }
}